/venv-*
/x-*.sh
/x-*.bat
/.msys*/
/release-tmp/

/.idea

/photofilmstrip.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Distribution / packaging
.Python
build/
dist/
sdist/
var/
locale/
Tools/
_scmInfo.py

.settings
.PhotoFilmStrip
