/venv-*
/x-*.sh
/x-Makefile
/x-requirements.txt
/.msys*/

/.idea

/photofilmstrip.egg-info/
/docs/help/_build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Distribution / packaging
.Python
build/
dist/
sdist/
var/
locale/
Tools/
release/
_scmInfo.py

.settings
.PhotoFilmStrip
