recursive-include data *
recursive-include po *
recursive-include docs *

include windows/photofilmstrip.bat
include windows/photofilmstrip-cli.bat
include COPYING
include LICENSE
include Makefile
include MANIFEST.in
include README.md
include make.bat
include requirements.txt
include requirements_dev.txt
include y-installo.sh
include y-installo_dev.sh
include y-venvo.sh
