recursive-include data *
recursive-include po *
recursive-include docs *

include scripts/photofilmstrip.bat
include scripts/photofilmstrip-cli.bat
include COPYING
include LICENSE
include Makefile
include MANIFEST.in
include README.md
include README-compiling.md
include README-running.md
include make.bat
include requirements.txt
include requirements_dev.txt
include y-install_depso.sh
include y-install_depso_dev.sh
include y-venvo.sh
